doctype html 
html(lang="en")
    head  
        title Update account info 
    body 
        p user: #{userEmail}
        //- p Favorite Book: #{favoriteBook}
        form(method:"POST")
            label(for="newVal") New Book
            input(type="text" name="newVal")